body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#board,
#preview {
  border: 1px solid black;
  margin-bottom: 30px;
}
h1, 
h4,
h5 {
  text-align: center;
}
.controls {
  box-sizing: border-box;
  font-size: 62px;
  display: flex;
  flex-direction: column;
}

.toggle {
  font-size: 62px;
  display: inline;
}

.b_top,
.b_bottom {
  display: flex;
  justify-content: center;
}
.button,
#mute_toggle {
  outline: 2px solid black;
  height: 90px;
  width: 90px;
  text-align: center;
  margin: 5px;
}
.layout-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.col-1 {
  flex-grow: 1;
}
.col-2 {
  flex-grow: 2;
}
.col-3 {
  flex-grow: 1;
}
.col-4 {
  flex-grow: 1;
}

